<% layout('./layouts/boilerPlate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <form
        class="needs-validation"
        method="POST"
        action="/listings/<%=listing._id%>?_method=PUT"
        novalidate
      >
        <h3>Edit Listing</h3>
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            name="addListings[title]"
            type="text"
            value="<%=listing.title%>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Enter valid Title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            class="form-control"
            name="addListings[description]"
            type="text"
            required
          >
<%=listing.description%></textarea
          >
          <div class="valid-feedback">Description looks good!</div>
          <div class="invalid-feedback">Enter valid Description</div>
        </div>
        Original Image
        <div class="mb-3 card" style="width: 15rem">
          <img src="<%=listing.image%>" alt="">
        </div>
        <div class="mb-3">
          <label for="image" class="form-lable">Upload Image URL</label>
          <input
            name="addListings[image]"
            type="text"
            class="form-control"
            value="<%=listing.image%>"
          />
          <div class="valid-feedback">URL looks good!</div>
          <div class="invalid-feedback">Enter valid URL</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input
              name="addListings[price]"
              type="number"
              value="<%=listing.price%>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price looks good!</div>
            <div class="invalid-feedback">Enter valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input
              name="addListings[country]"
              type="text"
              value="<%=listing.country%>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Country looks good!</div>
            <div class="invalid-feedback">Enter valid Country Name</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            name="addListings[location]"
            type="text"
            value="<%=listing.location%>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Location looks good!</div>
          <div class="invalid-feedback">Enter valid Location</div>
        </div>
        <button class="btn btn-dark">Edit</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>